{% extends "_DashboardLayout.html" %}
{% block body %}

<div class="py-5" style="background-image: url('../static/Images/dashboardbg.png');" >
  <h2  style="font-weight: 700;">Dashboard</h2>
    <center class="py-5">  
      <div class="p-1 container text-start">
        <div class="row">
          <div class="col-sm-5">
            <h5>TOTAL PRODUCTS : {{pcount}}</h5> 
             
          </div>
          <div class="col-sm-5">
            <h5>TOTAL ORDERS : {{ocount}}</h5>
          </div>
        </div>
        
      </div>

        <div class="p-1 text-start">
         <h4>Recent Products</h4>
        </div>


            <table class="table " style="opacity:0.8;">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Product ID</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Category</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                
               <tbody class="text-center bg-white">
                  {% for item in items %}
                    <tr>
                      <!-- # -->
                      <td> {{items.index(item) + 1}} </td>
                      <!-- Product ID -->
                      <td> {{item['PRODUCTID']}} </td>
                      <!-- Product Name -->
                      <td> {{item['PRODUCTNAME']}} </td>
                      <!-- Rate -->
                      <td> {{item['RATE']}} </td>
                      <!-- Quantity -->
                      <td> {{item['QUANTITY']}} </td>
                      <!-- Brand -->
                      <td> {{item['BRAND']}} </td>
                      <!-- Category -->
                      <td> {{item['CATEGORY']}} </td>
                      <!-- Status -->
                      <td> {{item['STATUS']}} </td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
<br>
            <div class="p-1 text-start">
              <h4>Recent Orders</h4>
             </div>
        
             <table class="table" style="opacity:0.8;">
              <thead class="table-dark">
                  <tr class="text-center">
                      <th scope="col">#</th>
                      <th scope="col">Order ID</th>
                      <th scope="col">Order Date</th>
                      <th scope="col">Client Name</th>
                      <th scope="col">Contact</th>
                      <th scope="col">Product</th>
                      <th scope="col">No of items</th>
                      <th scope="col">Discount</th>
                      <th scope="col">Amount after discount</th>
                      <th scope="col">Status</th>
                  </tr>
              </thead>
              <tbody class="text-center bg-white">
                {% for item in orderlist %}
                  <tr>
                    <!-- # -->
                    <td> {{orderlist.index(item) + 1}} </td>
                    <!-- ORDER_ID -->
                    <td> {{item['ORDER_ID']}} </td>
                    <!-- ORDER_DATE -->
                    <td> {{item['ORDER_DATE']}} </td>
                    <!-- CLIENT_NAME -->
                    <td> {{item['CLIENT_NAME']}} </td>
                    <!-- CONTACT_NO -->
                    <td> {{item['CONTACT_NO']}} </td>
                    <!-- PRODUCT -->
                    <td> {{item['PRODUCT']}} </td>
                    <!-- NO_OF_ITEMS -->
                    <td> {{item['NO_OF_ITEMS']}} </td>
                    <!-- DISCOUNT -->
                    <td> {{item['DISCOUNT']}} %</td>
                    <!-- AMOUNT -->
                    <td> {{item['AMOUNT']}}</td>
                    <!-- Status -->
                    <td> {{item['STATUS']}}</td>
                  </tr>
                 {% endfor %}
              </tbody>
             
          </table>
    </center>
</div>


{% endblock %}
