{% extends "_Layout.html" %}
{% block body %}

<div class="p-5 d-flex align-items-center justify-content-center">
    <form class="center" action="http://localhost:5000/register" method="post">
  <div class="shadow-lg p-5 bg-white rounded">
    <label class="py-2" style="font-weight:500;font-size:xx-large;">Register</label>
  <div class="form-group">
  <label >Email</label>
  <br>
  <input class="form-control" type="text" name="email" placeholder="Enter email"/>
  <br>
  <label >Username</label>
  <br>
  <input class="form-control" type="text" name="uname" placeholder="Enter username"/>
  <br>
  <label>Password</label>
  <br>
  <input class="form-control" type="password" name="pass" placeholder="Enter password"/>
  <br>
  <label>Phone no</label>
  <br>
  <input class="form-control" type="number" name="phone_no" placeholder="Enter phone no"/>
  <br>
  <input type="submit" value="Register"  class="btn btn-primary mb-4" style="width:100%"/>
 <span class="form-control">
  <center>
    Already have an account? &nbsp;
    <a href="/login">login</a>
  </center>
 </span>
  
</div>
  
  </form>
  </div>

{% endblock %}